# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=football_analytics

# Host Configuration
# Use 'db' when running via Docker Compose
# Use 'localhost' when running scripts locally (poetry run)
POSTGRES_HOST=db
POSTGRES_PORT=5432
